@using StatiiElectriceWebApp.Models.ViewModels
@model PrizaViewModel

<h1>Adauga o noua priza</h1>

<div>
    <form asp-action="Add" method="post" >
        <div style="padding-top:1%">
            <label name = "Tip" asp-for = "Tip" >Tip</label>
        </div>
        <div>
            <select name= "Tip" asp-for = "Tip">
                <option>Selecteaza tipul de priza</option>
                @foreach (var item in Model.Tipuri)
                {
                    <option value="@item.Id">@item.Nume</option>
                }
            </select>
        </div>
        <div>
            <input asp-for = "StationId" name = "StationId" value="@Model.StationId" hidden />

            <input asp-for = "Tipuri" name="Tipuri" value="@Model.Tipuri" hidden />
        </div>
        <div style="padding-top:1%">
            <input type="submit" value="Adauga" class="btn btn-success"/>
            <a asp-controller="StatiiIncarcare" asp-action="GetStatii" class="btn btn-primary">Inapoi la lista de statii</a>
        </div>
    </form>
</div>

